<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://socialwebapp.drodriguez.dev/assets/home-stylesheet.css">
   </head>
  <body>
    
    <div class="navbar">
    <span id="navbar-title">Home</span>
    </div>
    
    <!------------- POST SENDER ----------------->
     <br><br><br><br><br>
        <center>
      <div class="post-field-box">
      <textarea id="post-field" maxlength="140" placeholder="What's happening...." onkeyup="counterchars()"></textarea>
          <br>
       <span id="charcounter"></span>
      <input type="submit" id="submit-post" value="Submit">
          <br>
          <span id="submit-response"></span>
      </div>
      </center>
      <br><br><br>
      
   <script type="text/javascript">
			function counterchars(){
				var fieldlength = document.getElementById("post-field").value.length;
				document.getElementById("charcounter").innerHTML = fieldlength+"/140";
			}
		</script>
   <!------------- POST SENDER ENDS ----------------->
    
    <!---------------------- SIDE  NAVIGATION -------------------------------->
    
    <div class="sidenav">
      <a href="/users/<%= userid %>"><button type="button" class="profilebutton"></button></a>
			<br><br>
			<a href="/search" style="text-decoration: none;"><button type="button" class="searchbutton"></button></a>
			<br><br>
			<a href="/settings" style="text-decoration: none;"><button type="button" class="settingsbutton"></button></a>
			<br><br>
      <form action="/logout" method="post">
		  	<input type="submit" class="logoutbutton" value="">
      </form>
		</div>
    
    <!------------------ END OF SIDE NAVIGATION ----------------------------------------->
    
    <!---------------------- TOP NAVIGATION -------------------------------->
    <div class="tab">
			<button class="tablinks"><b>Main</b></button>
    <a href="/myposts"><button class="tablinks"><b><font color="black">My Posts</font></b></button></a>
		</div>
    <!------------------ END OF TOP NAVIGATION ----------------------------------------->
    
    <div id="HomeContainer" class="tabcontent"> <!---- START OF HOME FEED CONTAINER ---->
    <br>
    
    
    
  
      <br>
    <br>
  
      <!------------- POST SENDER FUNCTIONALITY ----------------->
         <script type="text/javascript">
           $("#submit-post").click(function(e){
             var posttext = document.getElementById("post-field").value;
             
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/post_sender",
                  data:'userid='+<%= userid %>+'&posttext='+posttext,
                  type: "POST",
                  success: function(){
                    document.getElementById("submit-response").innerHTML = "Your post has been successfully posted.";
                    document.getElementById("post-field").value = "";
                    window.location.href = "/myposts";
                  },
                  error: function(){
                    document.getElementById("submit-response").innerHTML = "There was an error submitting your post.";
                  }
                });               
                  
              
            });                           
          </script>
          <!------------- POST SENDER FUNCTIONALITY ENDS ----------------->
  
  
  
  
  
  
    <% for(var i=0; i<data.length; i++){ %>
  
  <!------------------------------------- For REG Posts ------------------------------------------------>
  
    <% if(data[i]['post_type'] == 'reg'){ %> <!-- for reg posts -->
      <a href="/posts/<%= data[i]['post_id'] %>">
      <div class="post-card"> 
        <div class="topandmiddle">
          <div class="profilepic"><img src="https://socialwebapp.drodriguez.dev/assets/profilepic.png"></div>
          <div class="usernameandcontent">
            <a href="https://socialwebapp.drodriguez.dev/users/<%= data[i]['user_id'] %>">
              <span class="usernametext"><%= data[i]['username'] %></span></a> •
              <% var date = data[i]['general_time']; %>
            <% var utc = moment.utc(date, "YYYY-MM-DD HH:mm:ss"); %>
              <% var local = utc.local(); %>
                <% local.format("HH:mm:ss") %>
                   <%= local.fromNow(); %>
              
              
            
            <br>
				    <%= data[i]['text'] %>
            <br>
				  </div>
        </div>
          <br>
        <div class="bottompart">
				    <div class="firstbuttondiv">
                <span id="likecounter<%= i %>" class="likebuttonnum"><%= data[i]['likecount'] %></span><br>
				        <button type="button" class="likebutton" id="onClick<%= i %>"></button>
				    </div>
             <div class="secondbuttondiv">
				          <span class="repostbuttonnum" id="repostcounter<%= i %>"><%= data[i]['repostcount'] %></span><br>
				          <button type="button" class="repostbutton" id="onClickR<%= i %>"></button>
				      </div>
            <div class="thirdbuttondiv">
				           <span class="commentbuttonnum"><%= data[i]['replycount'] %></span><br>
              <a href="/posts/<%= data[i]['post_id'] %>#reply"><button type="button" class="commentbutton"></button></a>
				    </div>
			   </div>
       </div>   
      </a>
        
          <!----------------- LIKE BUTTON & COUNTER ----------------->
          <script type="text/javascript">
            //checks to see if post has been liked already so it can set true or false
            var flag<%= i %>;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
                     // document.getElementById("onClick<%= i %>").innerHTML = "Unlike";
                     document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
                     document.getElementById('likecounter<%= i %>').style.color = "#E0245E"; 
                      flag<%= i %> = true;
                     } else if(data == "false"){
                  //    document.getElementById("onClick<%= i %>").innerHTML = "Like";
                  document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)";
                  document.getElementById('likecounter<%= i %>').style.color = "#7F7F7F";
                      flag<%= i %> = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 likes
           $("#onClick<%= i %>").click(function(e){
           e.stopPropagation();
           var likeVal = parseInt($("#likecounter<%= i %>").text(),10);
            if(flag<%= i %>){ //unlike
              $("#likecounter<%= i %>").text(likeVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});               
             document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)";
             document.getElementById('likecounter<%= i %>').style.color = "#7F7F7F";
           //   document.getElementById("onClick<%= i %>").innerHTML = "Like";
              
            } else { //like
              $("#likecounter<%= i %>").text(likeVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
              
              document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
              document.getElementById('likecounter<%= i %>').style.color = "#E0245E";
               // document.getElementById("onClick<%= i %>").innerHTML = "Unlike";
                                  
             }
            flag<%= i %>=!flag<%= i %>;
            });                           
          </script>
          <! ----------------- LIKES END ----------------->
          
           <! ----------------- REPOST BUTTON & COUNTER ----------------->
          <script type="text/javascript">
            //checks to see if post has been reposted already so it can set true or false
            var rstatus<%= i %>;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#33BF63"; 
                  //    document.getElementById("onClickR<%= i %>").innerHTML = "Unrepost";
                      rstatus<%= i %> = true;
                     } else if(data == "false"){
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#7F7F7F"; 
                //      document.getElementById("onClickR<%= i %>").innerHTML = "Repost";
                      rstatus<%= i %> = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 reposts
           $("#onClickR<%= i %>").click(function(e){
           e.stopPropagation();
           var repostVal = parseInt($("#repostcounter<%= i %>").text(),10);
            if(rstatus<%= i %>){ //un-repost
              $("#repostcounter<%= i %>").text(repostVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
         
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#7F7F7F"; 
        //      document.getElementById("onClickR<%= i %>").innerHTML = "Repost";
                                  
            } else { //repost
              $("#repostcounter<%= i %>").text(repostVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#33BF63"; 
         //     document.getElementById("onClickR<%= i %>").innerHTML = "Unrepost"
                                  
             }
            rstatus<%= i %>=!rstatus<%= i %>;
            });                           
          </script>
          <! ----------------- Reposts END ----------------->
          
     <br><br>
      <% } %>
  
  <! ------------------------------------- For REG Posts ENDS ------------------------------------------------>
  
   <! ------------------------------------- For REPOSTS ------------------------------------------------>
  
     <% if(data[i]['post_type'] == 'repost'){ %> <!-- for reposts -->
    <div class="repost-tag"><center>Repost</center></div>
    <a href="/posts/<%= data[i]['post_id'] %>">
      <div class="post-card" style="border-top-left-radius: 0px;"> 
        <div class="topandmiddle">
          <div class="profilepic"><img src="https://socialwebapp.drodriguez.dev/assets/profilepic.png"></div>
          <div class="usernameandcontent">
            <a href="https://socialwebapp.drodriguez.dev/users/<%= data[i]['user_id'] %>"><span class="usernametext"><%= data[i]['username'] %></span></a> •
             <% var date = data[i]['general_time']; %>
            <% var utc = moment.utc(date, "YYYY-MM-DD HH:mm:ss"); %>
              <% var local = utc.local(); %>
                <% local.format("HH:mm:ss") %>
                   <%= local.fromNow(); %>
            <br>
				    <%= data[i]['text'] %>
            <br>
				  </div>
        </div>
          <br>
        <div class="bottompart">
				    <div class="firstbuttondiv">
                <span id="likecounter<%= i %>" class="likebuttonnum"><%= data[i]['likecount'] %></span><br>
				        <button type="button" class="likebutton" id="onClick<%= i %>"></button>
				    </div>
             <div class="secondbuttondiv">
				          <span class="repostbuttonnum" id="repostcounter<%= i %>"><%= data[i]['repostcount'] %></span><br>
				          <button type="button" class="repostbutton" id="onClickR<%= i %>"></button>
				      </div>
            <div class="thirdbuttondiv">
				           <span class="commentbuttonnum"><%= data[i]['replycount'] %></span><br>
				           <a href="/posts/<%= data[i]['post_id'] %>#reply"><button type="button" class="commentbutton"></button></a>
				    </div>
			   </div>
       </div>   
      </a>   
          
          <! ----------------- LIKE BUTTON & COUNTER ----------------->
          <script type="text/javascript">
            //checks to see if post has been liked already so it can set true or false
            var flag<%= i %>;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
              document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
              document.getElementById('likecounter<%= i %>').style.color = "#E0245E"; 
              //        document.getElementById("onClick<%= i %>").innerHTML = "Unlike";
                      flag<%= i %> = true;
                     } else if(data == "false"){
              document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)";
              document.getElementById('likecounter<%= i %>').style.color = "#7F7F7F";
              //        document.getElementById("onClick<%= i %>").innerHTML = "Like";
                      flag<%= i %> = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 likes
           $("#onClick<%= i %>").click(function(e){
           e.stopPropagation();
           var likeVal = parseInt($("#likecounter<%= i %>").text(),10);
            if(flag<%= i %>){ //unlike
              $("#likecounter<%= i %>").text(likeVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});               
          document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)"; 
          document.getElementById('likecounter<%= i %>').style.color = "#7F7F7F";
         //     document.getElementById("onClick<%= i %>").innerHTML = "Like";
              
            } else { //like
              $("#likecounter<%= i %>").text(likeVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
             document.getElementById('onClick<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
            document.getElementById('likecounter<%= i %>').style.color = "#E0245E";
        //      document.getElementById("onClick<%= i %>").innerHTML = "Unlike";
                                  
             }
            flag<%= i %>=!flag<%= i %>;
            });                           
          </script>
          <! ----------------- LIKES END ----------------->
          
           <! ----------------- REPOST BUTTON & COUNTER ----------------->
          <script type="text/javascript">
            //checks to see if post has been reposted already so it can set true or false
            var rstatus<%= i %>;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#33BF63"; 
           //           document.getElementById("onClickR<%= i %>").innerHTML = "Unrepost";
                      rstatus<%= i %> = true;
                     } else if(data == "false"){
           //           document.getElementById("onClickR<%= i %>").innerHTML = "Repost";
              document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#7F7F7F";
                      rstatus<%= i %> = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 reposts
           $("#onClickR<%= i %>").click(function(e){
           e.stopPropagation();
           var repostVal = parseInt($("#repostcounter<%= i %>").text(),10);
            if(rstatus<%= i %>){ //un-repost
              $("#repostcounter<%= i %>").text(repostVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
         document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#7F7F7F";     
       //       document.getElementById("onClickR<%= i %>").innerHTML = "Repost";
                                  
            } else { //repost
              $("#repostcounter<%= i %>").text(repostVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
          document.getElementById('onClickR<%= i %>').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter<%= i %>').style.color = "#33BF63";    
      //        document.getElementById("onClickR<%= i %>").innerHTML = "Unrepost"
                                  
             }
            rstatus<%= i %>=!rstatus<%= i %>;
            });                           
          </script>
          <! ----------------- LIKES END ----------------->
          
       
      <br><br>
      <% } %>
        
    <! ------------------------------------- For REPOSTS ENDS------------------------------------------------>
      
    <% } %>
      
       </div> <! -------------------- END OF HOME FEED CONTAINER------------------------------------------------>
      
      
      
      
    
    <div class="footnavbar">
    
    </div>
    
    
    
    
    </div>
  </body>


