<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://socialwebapp.drodriguez.dev/assets/posts-stylesheet.css">
  </head>
  <body>
    
    <div class="navbar">
      <span id="navbar-title">Post</span>
      
    </div>
    
    <div class="sidenav">
      <a href="/users/<%= userid %>" id="profilelink"><button type="button" id="profilebutton" class="profilebutton"></button></a>
			<br><br>
       <a href="/home" style="text-decoration: none;"><button type="button" class="feedbutton"></button></a>
			<br><br>
			 <a href="/search" style="text-decoration: none;"><button type="button" class="searchbutton"></button></a>
			<br><br>
			<a href="/settings" style="text-decoration: none;"><button type="button" class="settingsbutton"></button></a>
			<br><br>
      <form action="/logout" method="post">
		  	<input type="submit" class="logoutbutton" value="">
      </form>
		</div>
    
    
    
    <br><br><br><br><br><br>
    
   
    <div class="container"><br>
<% for(var i=0; i<data.length; i++){ %>
  <div class="post-card">
    <div class="topandmiddle">
				<div class="profilepic"><img src="https://socialwebapp.drodriguez.dev/assets/profilepic.png"></div>
				<div class="usernameandcontent">
				<a href="https://socialwebapp.apple.com"><span class="usernametext"><%= data[i]['username'] %></span></a> • 
          
          <% var date = data[i]['post_time']; %>
            <% var utc = moment.utc(date, "YYYY-MM-DD HH:mm:ss"); %>
              <% var local = utc.local(); %>
                <% local.format("HH:mm:ss") %>
                   <%= local.fromNow(); %>
          
          
          <br>
         <%= data[i]['text'] %><br><br>
        </div>
		</div>
			  <br>
		<div class="bottompart">
				<div class="firstbuttondiv">
				<span class="likebuttonnum" id="likecounter"><%= data[i]['likecount'] %></span><br>
				<button type="button" class="likebutton" id="onClick"></button>
				</div>
			
				<div class="secondbuttondiv">
				<span class="repostbuttonnum" id="repostcounter"><%= data[i]['repostcount'] %></span><br>
				<button type="button" class="repostbutton" id="onClickR"></button>
				</div>
			
				<div class="thirdbuttondiv">
				<span class="commentbuttonnum"><%= data[i]['replycount'] %></span><br>
				<button type="button" class="commentbutton"></button>
				</div>
			</div>

		</div>
       <!------------- REPLY SUBMIT DIV ----------------->
      <div id="reply" class="reply-bar">
        <center>
        <input type="text" name="reply" id="replyinput" value="" placeholder="Say something back...." maxlength="140">
          <input type="submit" id="submit-reply" value="Reply">
          </center>
      </div>
      <!------------- REPLY SUBMIT DIV ENDS ----------------->
      
       <!------------- REPLY SENDER FUNCTIONALITY ----------------->
         <script type="text/javascript">
           $("#submit-reply").click(function(e){
             var replytext = document.getElementById("replyinput").value;
             var postid = <%= data[i]['post_id'] %>;
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/reply_sender",
                  data:'userid='+<%= userid %>+'&replytext='+replytext+'&postid='+postid,
                  type: "POST",
                  success: function(){
                   document.getElementById("replyinput").value = "";
                   location.reload();
                  },
                  error: function(){
                //    document.getElementById("submit-response").innerHTML = "There was an error submitting your post.";
                  }
                });               
                  
              
            });                           
          </script>
          <!------------- REPLY SENDER FUNCTIONALITY ENDS ----------------->
      
      
      <!------------- REPLIES DIV ----------------->
      
      <% for(var rd=0; rd<replydata.length; rd++){ %>
      <div class="reply-card" id="reply<%= replydata[rd]['reply_id'] %>">
    <div class="topandmiddle">
				<div class="profilepic"><img src="https://socialwebapp.drodriguez.dev/assets/profilepic.png"></div>
				<div class="usernameandcontent">
				<a href="https://socialwebapp.apple.com"><span class="usernametext"><%= replydata[rd]['username'] %></span></a> • 
          
          <% var date = replydata[rd]['post_time']; %>
            <% var utc = moment.utc(date, "YYYY-MM-DD HH:mm:ss"); %>
              <% var local = utc.local(); %>
                <% local.format("HH:mm:ss") %>
                   <%= local.fromNow(); %>
          
          
          <br>
         <%= replydata[rd]['text'] %><br><br>
      </div>
      </div>
        </div>
      <% } %>
      
      <!------------- REPLIES DIV ENDS ----------------->
      
          <script type="text/javascript">
            //checks to see if post has been liked already so it can set true or false
            var flag;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
                     document.getElementById('onClick').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
                     document.getElementById('likecounter').style.color = "#E0245E"; 
                     flag = true;
                     } else if(data == "false"){
                      document.getElementById('onClick').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)";
                      document.getElementById('likecounter').style.color = "#7F7F7F";
                      flag = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 likes
           $("#onClick").click(function(e){
           e.stopPropagation();
           var likeVal = parseInt($("#likecounter").text(),10);
            if(flag){ //unlike
              $("#likecounter").text(likeVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});               
                  document.getElementById('onClick').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton.png)";
                  document.getElementById('likecounter').style.color = "#7F7F7F";                
            } else { //like
              $("#likecounter").text(likeVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/like_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
                  document.getElementById('onClick').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/likebutton-hover.png)";
                  document.getElementById('likecounter').style.color = "#E0245E";
                                  
             }
            flag=!flag;
            });                           
          </script>
  <!------------------------------- REPOST BUTTON & COUNTER -------------------------------------->
          <script type="text/javascript">
            //checks to see if post has been reposted already so it can set true or false
            var rstatus;
            jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_status",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST",
                  success:function(data){
                    if(data == "true"){
              document.getElementById('onClickR').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter').style.color = "#33BF63"; 
                      rstatus = true;
                     } else if(data == "false"){
              document.getElementById('onClickR').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter').style.color = "#7F7F7F"; 
                      rstatus = false;
                     }
                  }
                 });
           
            //toggles +1 or -1 reposts
           $("#onClickR").click(function(e){
           e.stopPropagation();
           var repostVal = parseInt($("#repostcounter").text(),10);
            if(rstatus){ //un-repost
              $("#repostcounter").text(repostVal-1);
                                  
                jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
              
              document.getElementById('onClickR').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton.png)";
              document.getElementById('repostcounter').style.color = "#7F7F7F"; 
                                  
            } else { //repost
              $("#repostcounter").text(repostVal+1);
                
                  jQuery.ajax({
                  url: "https://socialwebapp.drodriguez.dev/routes/repost_sender",
                  data:'postid='+<%= data[i]['post_id'] %>+'&userid='+<%= userid %>,
                  type: "POST"});
              
              document.getElementById('onClickR').style.backgroundImage="url(https://socialwebapp.drodriguez.dev/assets/repostbutton-hover.png)";
              document.getElementById('repostcounter').style.color = "#33BF63"; 
                                      
      
                                  
             }
            rstatus=!rstatus;
            });                           
          </script>
          <!----------------- Reposts Functionality END ----------------->
  
      </a>
<% } %>
</div>
    
    
    </form>
  </body>